@page "/objectives"
@using BlazorCRM.Models
@using BlazorCRM.Services
@inject IObjectiveService ObjectiveService;
@inject IUserService UserService;

<h1>Objectives</h1>

@if (_objectives == null || _isLoading)
{
	<p>Loading data...</p>
}
else if (_objectives.Count == 0)
{
	<p>There is no objectives.</p>
}
else
{
	<div id="ObjectiveList">
		@* <p>Id</p> *@
		@* <p>Title</p> *@
		@* <p>Description</p> *@
		@* <p>ObjectType</p> *@
		@* <p>Responsible User</p> *@
		@* <p>Employee <br/> Company</p> *@
		@* <p>CreateDate</p> *@
		@* <p>FinishDate</p> *@
		@* <p>IsFinished</p> *@
		@* <p>Project?</p> *@
		@foreach (var obj in _objectives)
		{
			<p>@obj.ToString()</p>

			@*<p>@obj.Id</p>
			<p>@obj.Title</p>
			<p>@obj.Description</p>
			<p>@obj.ObjectType</p>
			<p>@obj.ResponsibleUser</p>
			<p>@obj.Employee?.Name <br/> @obj.Company?.Name</p>
			<p>@obj.CreateDate</p>
			<p>@obj.FinishDate</p>
			<p>@obj.IsFinished</p>
			<p>@obj.Project?</p>*@
		}
	</div>
}

<form id="NewObjective">
	<div class="form-field">
		<label for="Title">Title</label>
		<input type="text" name="Title" id="Title" @bind="_newObjective.Title">
	</div>

	<div class="form-field">
		<label for="Description">Description</label>
		<input type="text" name="Title" id="Description" @bind="_newObjective.Description">
	</div>

	<div class="form-field">
		<label for="FDate">Finish to</label>
		<input type="date" name="FDate" id="FDate" @bind="_newObjective.FinishDate" min="2021-01-01">
	</div>

	<div class="form-field">
		<label for="ResponsibleUser">Responsible User</label>
		<input type="text" name="number" id="ResponsibleUser" value="@(_newObjective.ResponsibleUser?.ToString() ?? "ResponsibleUser is not set")" disabled>
	</div>
	
	<div class="form-field">
		<label for="Company">Responsible User</label>
		<input type="text" name="Company" id="Company" value="@(_newObjective.Company?.ToString() ?? "Company is not set")" disabled>
	</div>
		
	<div class="form-field">
		<label for="Employee">Responsible User</label>
		<input type="text" name="Employee" id="Employee" value="@(_newObjective.Employee?.ToString() ?? "Employee is not set")" disabled>
	</div>
	<button @onclick="SaveObjective">Save</button>
</form>

@if (_newObjective != null)
{
	<p>New Objective: <br/>@_newObjective</p>
}

@code {
	private bool _isLoading;
	private List<Objective> _objectives;
	private Objective _newObjective;
	
	protected override async Task OnInitializedAsync()
	{
		_isLoading = true;
		_objectives = await ObjectiveService.GetObjectives();
		_newObjective = ObjectiveService.NewObjective;
		_newObjective.ResponsibleUser = await UserService.GetUserEntity(1);
		_isLoading = false;
	}

	private async void SaveObjective()
	{
		await ObjectiveService.SaveObjective(_newObjective);
	}

}