@page "/users"
@using BlazorCRM.Models
@using BlazorCRM.Services
@inject IUserService UserService;

<h1>Users</h1>
<p>This component demonstrates fetching data from a service.</p>


@if (_users == null || _isLoading)
{
	<p>
		<em>Loading...</em>
	</p>
}
else if (_users.Count == 0)
{
	<p>There is no user.</p>
}
else
{
	<div id="UserList">
		<p>Id</p>
		<p>Name</p>
		<p>Surname</p>
		<p>Phone</p>
		<p>Email</p>
		@foreach (var user in _users)
		{
			<p>@user.Id</p>
			<p>@user.Name</p>
			<p>@user.Surname</p>
			<div class="phone-list">
				@if (user.Phones.Count <= 0)
				{
					<p>@user.Phones.Count</p>
				}
				else
				{
					@foreach (var phone in user.Phones)
					{
						<p>@(phone.PhoneNumber ?? "null")</p>
					}
				}
			</div>
			<div class="phone-list">
				@if (user.Emails.Count <= 0)
				{
					<p>@user.Emails.Count</p>
				}
				else
				{
					@foreach (var phone in user.Emails)
					{
						<p>@phone.EmailAddress</p>
					}
				}
			</div>
		}
	</div>
}

@code {

	private List<User> _users;
	private bool _isLoading = true;

	protected override async Task OnInitializedAsync()
	{
		_isLoading = true;
	// _users = await UserService.GetUsers();
		_users = await UserService.GetUsersDapper();
		_isLoading = false;
	}

}